*{
    box-sizing: border-box;
}
body{
    font-family: Tahoma, Arial;
}
.quiz-app{
    margin: 20px auto;
    background-color: #f8f8f8;
    padding: 15px;
}
@media (max-width:767px) {
    .quiz-app{
        margin-top: 0;
    }
}
.quiz-info{
    background-color: #fff;
    padding: 20px;
}

.quiz-info .category span{
    color: #0075ff;
}

.quiz-app .quiz-area{
    background-color: #fff;
    padding: 20px;
    margin-top: 15px;  
}
.quiz-app .quiz-area h2{
    margin: 0;
}
.quiz-app .answers-area{
    background-color: #fff;
    padding: 0 20px 20px;
}
.quiz-app .answers-area .answer{
    background-color: #f9f9f9;
    padding: 15px;
}
.quiz-app .answers-area .answer:not(:last-child){
    border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answers-area .answer input[type="radio"]:checked + label{
    color: #0075ff;
}
.quiz-app .answers-area .answer label{
    cursor: pointer;
    font-weight: bold;
    color: #777;
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    top: -1px;
}
.quiz-app .submit-btn{
    background-color: #0075ff;
    width: 90%;
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    margin: 20px auto;
}
.quiz-app .submit-btn:focus{
    outline: none;
}
.quiz-app .bullets{
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
    padding: 20px;
}
.quiz-app .bullets .spans span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 5px;
}
.quiz-app .bullets .spans span.on{
    background-color: #0075ff;
}
.quiz-app .results span{
    font-weight: bold;
}
.quiz-app .results span.bad{
    color: #dc0a0a;
}
.quiz-app .results span.good{
    color: #009688;
}
.quiz-app .results span.perfect{
    color: #0075ff;
}